@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

:root {
  --color-black: #1c1d25;
  --color-green: #50fa7b;
  --color-white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  background: var(--color-black);
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

header {
  padding: 30px;
  text-align: center;
  background: rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid #333;
}

.links a {
  color: var(--color-white);
  margin: 0 30px;
  font-size: 18px;
  line-height: 48px;
  text-decoration: none;
  display: inline-block;
}

.links a:hover {
  color: var(--color-green);
  transition: color 300ms;
}

.links a.active {
  color: var(--color-green);
}

main {
  text-align: center;
  padding: 64px;
  padding-top: 74px;
}

main .logo {
  max-width: 240px;
  border: 3px solid var(--color-green);
  border-radius: 50%;
}

main h1 {
  font-size: 42px;
  line-height: 32px;
  color: var(--color-white);
  font-weight: bold;
  margin-top: 32px;
}

main p {
  color: var(--color-white);
  font-size: 21px;
  line-height: 31px;
  max-width: 600px;
  margin: 28px auto;
  font-weight: 300;
}

main .links a {
  border-bottom: 2px solid var(--color-white);
  color: var(--color-green);
  transition: border 200ms;
  line-height: 28px;
  margin: 0;
  font-size: 22px;
  margin-left: 4px;
  font-weight: 400;
}

main .links a:hover {
  border-bottom: none;
}

footer {
  padding: 60px 0;
  text-align: center;
  border-top: 1px solid #333;
  background: rgba(0, 0, 0, 0.2);
}

footer .links a {
  border-bottom: 2px solid var(--color-green);
  transition: border 200ms;
  margin: 32px;
  line-height: 28px;
}

footer .links a:hover {
  border-bottom: none;
}
